<footer id="footer" class="bg-light text-white mt-5 p-5">
  <div class="container row">
    <div class="col-md-8 large-6 small-12">
      <div class="footer-left-row1">
        <div class="icon-row-container">
          <a href="https://www.facebook.com/FordPhilippines">
            <i class="fab fa-facebook-f"></i>
          </a>

          <a href="https://twitter.com/FordPhilippines">
            <i class="fab fa-twitter"></i>
          </a>

          <a href="https://www.youtube.com/channel/UCRIlCN3oEZv8AoorRQcOfPA">
            <i class="fab fa-youtube"></i>
          </a>

          <a href="https://www.instagram.com/fordphilippines/">
            <i class="fab fa-instagram"></i>
          </a>

          <div class="lang-select-wrapper">
            <span class="country-select"></span>
            <span class="lang-select"></span>
          </div>
        </div>
      </div>
    <div class="d-flex justify-content-between">
          <span><a href="#">Homepage</a></span>
          <span><a href="#">Privacy Policy & Disclaimer</a></span>
          <span><a href="#">Motor Company</a> </span>
        </div>
      <div class="footer-left-row3">
        <div class="copyright-row-container">
          <p>
            © 2022 Ford Group Philippines, Inc. | Ford SUVs,Trucks,Van, and
            Performance Vehicles
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 large-6 small-12">
      <div class="container">
        <strong>Quick Links</strong>
        <div class="bg-light d-flex justify-content-between">
          <a href="#">All Vehicles</a>
          <a href="#">Fleet Homepage</a>
          <a href="#">Book a Service</a>
        </div>
        <div class="bg-light d-flex justify-content-between">
          <a href="#">Ford Protect</a>
          <a href="#">Newsroom</a>
          <a href="#">Careers</a>
        </div>
        <div class="bg-light d-flex justify-content-between">
          <a href="#">About Ford</a>
          <a href="#">Contact Us</a>
          <a href="#">Careers</a>
        </div>
      </div>
      >
    </div>
  </div>
</footer>
